*.user

Telex.cflags
Telex.config
Telex.creator
Telex.creator.user
Telex.cxxflags
Telex.files
Telex.includes
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
telex
extra
extra/**
builds
src/generated
*.cmake
*.a
*.autosave
*.pyc
.DS_Store
*.vcxproj
*.vcxproj.filters
*.sln
*.vs
*.dir
x64
Debug
Release
test/tick/tick
test/hello/hello
est/treeview/treeview
build-*
*.html.h
*.js.h
*.css.h
*.png.h
*.gif.h
*.jpg.h
*.ico.h
*_resource.h

affiliates/telexclient/telexclient_autogen
mpfr*
apps/calc/calc
apps/mandelbrot/mandelbrot
apps/treeview/treeviewblog/hello/hello
test/unittest/unittest
test/imageblit/imageblittest
blog/minihello/minihello
test/eval/evaltest
blog/hexview/hexview
test/unittests/unittests
test/helloworld/helloworld
test/helloworld/helloworld.html
blog/minihello/minihello.html
apps/treeview/treeview
blog/hello/hello

affiliates/telexclient/telexclient
