*.user

Telex.cflags
Telex.config
Telex.creator
Telex.creator.user
Telex.cxxflags
Telex.files
Telex.includes
Gempyre.cflags
Gempyre.config
Gempyre.creator
Gempyre.creator.user
Gempyre.cxxflags
Gempyre.files
Gempyre.includes
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
telex
extra
extra/**
builds
src/generated
*.a
*.autosave
*.pyc
.DS_Store
*.vcxproj
*.vcxproj.filters
*.sln
*.vs
*.dir
x64
Debug
Release
examples/tick/tick
examples/hello/hello
examples/treeview/treeview
build-*
*.html.h
*.js.h
*.css.h
*.png.h
*.gif.h
*.jpg.h
*.ico.h
*_resource.h

affiliates/client/client_autogen
mpfr*
apps/calc/calc
apps/mandelbrot/mandelbrot
apps/treeview/treeviewblog/hello/hello
examples/unittest/unittest
examples/imageblit/imageblittest
blog/minihello/minihello
examples/eval/evaltest
blog/hexview/hexview
examples/unittests/unittests
examples/helloworld/helloworld
apps/treeview/treeview
blog/hello/hello

affiliates/client/client
examples/drawcanvas/drawcanvastest
test/drawcanvas/drawcanvastest
_deps
*.cbp
affiliates/test/affiliates_test
blog/hello2/hello2
affiliates/test_rpc/affiliates_test_rpc
install_manifest.txt

.vscode
examples/audio/audiotest
examples/snowflakes/snowflakestest
examples/apitests/apitests
examples/audio/audiotest
examples/eval/evaltest
examples/hello/hello
examples/hello2/hello2
examples/hello2/hello2
examples/hello2/hello2
examples/hello2/hello2
examples/hello/hello
test/apitests/apitests
examples/minihello/minihello
build
mingw_build
msvc_build
*build_all
